body {
  margin: 0px;
  text-align: center;
  font-family: monospace;

}

a {
  font-size: 16px;
}

button {
  background-color: rebeccapurple;
  border: none;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

select {

  border: none;
  background-color: #deddda;


  text-decoration: none;
  display: inline-block;

}

button:hover {
  animation: change 0.5s ease-in forwards;  

}

@keyframes change {
  from {
    background: rebeccapurple;
  }

  to {
    background: #1a5fb4;
  }
}

input {
    border: none;
    accent-color: rebeccapurple;

  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.sandsim {

  font-size: 32px;

  background: linear-gradient(to right, #813d9c 45%, #1a5fb4 55%);

  
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  }
}




